<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phrase Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-color: #f0f0f0; /* Colore di sfondo di fallback */
            color: black; /* Colore di testo di fallback */
        }
    </style>
</head>
<body>
    <div class="container" id="container">
        <h1>Welcome to the Motivational Phrase Simulator!!!</h1>
        <form id="phraseForm" method="POST" action="/">
            <label for="name">First, what's your name?</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Submit</button>
            <button type="button" onclick="resetForm()">Reset</button>
        </form>
        {% if name %}
            <h2 id="greeting">Hello, {{ name }}!</h2>
            <p id="motivationalPhrase" class="phrase">{{ phrase }}</p>
        {% endif %}
    </div>
    <script>
        // Funzione per generare un colore pastello casuale
        function getRandomPastelColor() {
            var hue = Math.floor(Math.random() * 360);
            var pastel = 'hsl(' + hue + ', 100%, 80%)';
            return pastel;
        }
         // Funzione per calcolare un colore più scuro
         function darkenColor(hslColor, percent) {
            var hsl = hslColor.match(/\d+/g);
            var l = Math.max(0, parseInt(hsl[2]) - percent);
            return `hsl(${hsl[0]}, ${hsl[1]}%, ${l}%)`;
        }

        // Funzione per resettare il form
        function resetForm() {
            document.getElementById("phraseForm").reset(); // Resetta il form
            document.getElementById("greeting").innerHTML = ""; // Cancella il saluto
            document.getElementById("motivationalPhrase").innerHTML = ""; // Cancella la frase motivazionale
            var backgroundColor = getRandomPastelColor();
            
            document.body.style.backgroundColor = backgroundColor;
            

            var containerColor = darkenColor(backgroundColor, 20); // Calcola un colore più scuro
            document.getElementById('container').style.backgroundColor = containerColor; // Applica il colore più scuro al container
            
            var textHue = (parseInt(backgroundColor.match(/\d+/g)[0]) + 180) % 360; // Sposta l'hue di 180 gradi per ottenere un colore complementare
            var darkPastel = 'hsl(' + textHue + ', 100%, 30%)'; // Saturazione e luminosità a valori fissi per ottenere un pastello scuro
            document.body.style.color = darkPastel; // Applica il colore pastello scuro al testo
        }

        // Inizializzazione del colore di sfondo e del testo al caricamento della pagina
        var initialBackgroundColor = getRandomPastelColor();
        
        document.body.style.backgroundColor = initialBackgroundColor;
        

        var initialContainerColor = darkenColor(initialBackgroundColor, 20); // Calcola un colore più scuro
        document.getElementById('container').style.backgroundColor = initialContainerColor; // Applica il colore più scuro al container
    </script>
</body>
</html>
